// position
$gamewidth:1200px;
$gameheight:600px;	

$avatorsqrwidth:$gameheight/4;
$avatormargin:$avatorsqrwidth/4;

$selfcardwidth:$gamewidth/3;
$selfcardheight:$gameheight/4;
$selfcardbottom:$gameheight/24;
$selfcardleft:($gamewidth - $selfcardwidth - $avatormargin -$avatorsqrwidth)/2;
$selfavaleft:$selfcardleft + $avatormargin + $selfcardwidth;

$toimencardwidth:$selfcardwidth;
$toimencardheight:$selfcardheight;
$toimencardtop:$selfcardbottom;
$toimencardright:$selfcardleft;
$toimenavaright:$toimencardright + $avatormargin + $toimencardwidth;

$kamichacardwidth:$selfcardheight;
$kamichacardheight:$selfcardwidth;
$kamichacardtop:($gameheight - $kamichacardheight - $avatormargin -$avatorsqrwidth)/2;
$kamichacardleft:$gamewidth/24;
$kamichaavatop:$kamichacardtop + $avatormargin + $kamichacardheight;

$shimochacardwidth:$kamichacardwidth;
$shimochacardheight:$kamichacardheight;
$shimochacardbottom:$kamichacardtop;
$shimochacardright:$kamichacardleft;
$shimochaavabottom:$shimochacardbottom + $avatormargin + $shimochacardheight;

// color
// for debug
$gamedivbk:#DDD;
$selfdivbk:#0F3;
$otherplayerdivbk:#03F;
// =====================

body {
	text-align:center;
}
div {
	border:1px solid #F00 // for debug
}

// main div for game
#gamediv {
	position:relative;
	text-align:center;
	margin:0 auto; // for FF Chr, no IE6 or before, hhhh
	width:$gamewidth;
	height:$gameheight;
	background-color:$gamedivbk;
}
// cardarea
div.cardarea {
	position:absolute;
	text-align:center;
}
#selfcarddiv {
	bottom:$selfcardbottom;
	left:$selfcardleft;
	width:$selfcardwidth;
	height:$selfcardheight;
	background-color:$selfdivbk;
}
#toimencarddiv {
	top:$toimencardtop;
	right:$toimencardright;
	width:$toimencardwidth;
	height:$toimencardheight;
	background-color:$otherplayerdivbk;
}
#kamichacarddiv {
	top:$kamichacardtop;
	left:$kamichacardleft;
	width:$kamichacardwidth;
	height:$kamichacardheight;
	background-color:$otherplayerdivbk;
}
#shimochacarddiv {
	bottom:$shimochacardbottom;
	right:$shimochacardright;
	width:$shimochacardwidth;
	height:$shimochacardheight;
	background-color:$otherplayerdivbk;
}
// div for avatar
div.avatar {
	position:absolute;
	text-align:center;
	width:$avatorsqrwidth;
	height:$avatorsqrwidth;
}
#selfavadiv {
	bottom:$selfcardbottom;
	left:$selfavaleft;
	background-color:$selfdivbk;
}
#toimenavadiv {
	top:$toimencardtop;
	right:$toimenavaright;
	background-color:$otherplayerdivbk;
}
#kamichaavadiv {
	top:$kamichaavatop;
	left:$kamichacardleft;
	background-color:$otherplayerdivbk;
}
#shimochaavadiv {
	bottom:$shimochaavabottom;
	right:$shimochacardright;
	background-color:$otherplayerdivbk;
}

.cellol {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
}
